<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>No title defined</title>
        {% endif %}
         <!-- BOOTSTRAP-->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!--CSS-->
        <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }} rel="stylesheet">
       
    </head>
    <body>
      

        <div class="container">
            {% block content %}{% endblock %}
              
        </div>

        <h1>Hello, {{ user.name }}!</h1>
        <!--h2>I see that you are, {{ user.age }} years old!</h2>
        <h3>You're from {{ user.nationality }}!</h3>
        <br><br-->
        <!--div class="people">
                <div>
                        <h1>Here is a list of your friends:</h1>
                            <ul>
                            {% for f in people %}
                                <li>{{ f }}</li>
                            </ul>
                            {% endfor %}
                    </div>
        </div-->
    </body>
</html>