{% include 'includes.html' %}
{% block content %}

<div class="container">
    <div class="section_content">
        <h2>Note Title</h2>

        <form method="POST" action="/submitted">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{  form.title.label }}
            <br>
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <p>{{Error}}</p>
                    {% endfor %}
                {% endif %}

                {{ form.title }}
            </div>

            <div class="form-group">
                {{ form.description.label }}
            <br>
                {% if form.description.errors %}
                    {% for error in form.description.errors %}
                        <p>{{Error}}</p>
                    {% endfor %}
                {% endif %}

                {{ form.description }}
            </div>

            <!--div class="form-group">
                {{ form.ready.label}}
                {{ form.ready }}    
            </div -->

            
            {{ form.submit(class="btn-primary") }}
                        
        </form>
    </div>
</div>
{% endblock %}